<div class="content">
    <p class="subtitle has-text-centered">Tags & Contributors</p>
    <p class="has-text-centered">
        <a href="/">
            <span class="tag is-link">latest</span>
        </a>

        {% for tag in site.tags %}
        <a href="/tags/{{tag|first}}">
            <span class="tag is-link" style="margin-bottom:0.5rem;">{{ tag | first }}</span>
        </a>
        {% endfor %}

        <span style="margin-left:1rem;"></span>

        {% for author in site.authors %}
        <a href="/authors/{{ author[0] }}">
            <span class="tag is-dark" style="margin-bottom:0.5rem;">{{ author[1].display_name }}</span>
        </a>
        {% endfor %}
    </p>
</div>

<p class="has-text-centered" style="margin:2rem;">
    <a class="button is-white" style="box-shadow: 2px 2px 5px rgb(76, 76, 76);margin:0.5rem;" href="/subscribe">
        Subscribe to new posts
    </a>
    <a class="button is-white" style="box-shadow: 2px 2px 5px rgb(76, 76, 76);margin:0.5rem;" href="https://github.com/smailq/256words">
        Source
    </a>
    <!--<a class="button is-white" style="box-shadow: 2px 2px 5px rgb(76, 76, 76);margin:0.5rem;" href="">-->
    <!--Random post-->
    <!--</a>-->
</p>

