---
layout: default
---
<section class="section">
    <div class="container">
        <div class="content">

            {% assign author = site.authors[page.author] %}
            <h1 class="title">
                {{ author.display_name }}
            </h1>
            <h5 class="subtitle">
                {{ author.email }}
            </h5>

            <hr>

            <h3>Articles written</h3>
            <ul>
                {% for post in site.posts %}
                {% if post.author == page.author %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> &middot; <small>{{ post.date | date_to_long_string}}</small></li>
                {% endif %}
                {% endfor %}
            </ul>

            <h3>Articles reviewed</h3>
            <ul>
                {% for post in site.posts %}
                {% if post.reviewer == page.author %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> &middot; <small>{{ post.date | date_to_long_string}}</small></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>

        {% include footer-navigation.html %}
    </div>
</section>
