---
layout: default
---
<section class="section">
    <div class="container">
        <div class="content">

            {% assign author = site.authors[page.author] %}
            <h1 class="title">
                {{ author.display_name }}
            </h1>
            <h5 class="subtitle">
                {{ author.email }}
            </h5>

            <hr>

            <ul>
                {% for post in site.posts %}
                {% if post.author == page.author %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>


        </div>

        <div class="content">
            <p class="subtitle has-text-centered">All tags & authors</p>
            <p class="has-text-centered">
                <a href="/">
                    <span class="tag">latest</span>
                </a>
                {% for tag in site.tags %}
                <a href="/tags/{{tag|first}}">
                    <span class="tag">{{ tag | first }}</span>
                </a>
                {% endfor %}

                {% for author in site.authors %}
                <a href="/authors/{{ author[0] }}">
                    <span class="tag is-dark">{{ author[1].display_name }}</span>
                </a>
                {% endfor %}
            </p>
        </div>
    </div>
</section>
